# Predicting the Type of Stars using Decision Tree Algorithm

In [55]:
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
data = pd.read_csv('star_data.csv')
data.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [57]:
inputs = data.drop(['Star type'], axis='columns')
targets = data['Star type']

In [58]:
from sklearn.preprocessing import LabelEncoder

In [59]:
le_Star_color = LabelEncoder()
le_Spectral_Class =  LabelEncoder()

In [60]:
inputs['Star_color_n'] = le_Star_color.fit_transform(inputs['Star color'])
inputs['Spectral_Class_n'] = le_Star_color.fit_transform(inputs['Spectral Class'])

In [61]:
inputs.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star color,Spectral Class,Star_color_n,Spectral_Class_n
0,3068,0.002400,0.1700,16.12,Red,M,10,5
1,3042,0.000500,0.1542,16.60,Red,M,10,5
2,2600,0.000300,0.1020,18.70,Red,M,10,5
3,2800,0.000200,0.1600,16.65,Red,M,10,5
4,1939,0.000138,0.1030,20.06,Red,M,10,5

In [62]:
from sklearn import tree

In [63]:
inputs_n = inputs.drop(['Star color', 'Spectral Class'], axis='columns')

In [64]:
inputs_n

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star_color_n,Spectral_Class_n
0,3068,0.002400,0.1700,16.12,10,5
1,3042,0.000500,0.1542,16.60,10,5
2,2600,0.000300,0.1020,18.70,10,5
3,2800,0.000200,0.1600,16.65,10,5
4,1939,0.000138,0.1030,20.06,10,5
...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,0,6
236,30839,834042.000000,1194.0000,-10.63,0,6
237,8829,537493.000000,1423.0000,-10.73,11,0
238,9235,404940.000000,1112.0000,-11.23,11,0
239,37882,294903.000000,1783.0000,-7.80,0,6

In [65]:
model = tree.DecisionTreeClassifier()
model.fit(inputs_n.values,targets.values)

DecisionTreeClassifier()

In [66]:
model.score(inputs_n.values,targets.values)

1.0

In [67]:
model.predict([[9235,404940.000000,1112.0000,-11.23,11,0]])

array([5], dtype=int64)

In [68]:
model.predict([[1939,0.000138,0.1030,20.06,10,5]])

array([0], dtype=int64)